<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs -%>
<%- include partials/layout.ejs -%>

    <!-- Main Content Start-->
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      
      <!-- Added fade to title -->
        <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>
        <p>ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut placeat non obcaecati, eos sint est provident ipsum? Commodi voluptas hic eum repudiandae consequuntur neque, quae unde harum dolorem ratione alias!</p>
    
      </div>
    </div>


  
    <!-- Main Content End -->

<%- include partials/bottom_nav.ejs -%>
<%- include partials/footer.ejs -%>