<%- include (partials/header.ejs); %>
<%- include (partials/main_nav.ejs); %>

    <!-- Main Content Start-->
    <div class="container">
      <!-- Added fade to title -->
        <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>
    </div>
  
    <!-- Main Content End -->

<%- include (partials/bottom_nav.ejs); %>
<%- include (partials/footer.ejs); %>